.main-card {
  width: 40%;
  margin: 100px auto 0 auto;
  padding: 30px;
  background-color: #e6e6e6;
  text-align: center;
  height: 150px;
}

input {
  display: block;
  margin: auto;
}

button {
  margin: 10px;
}
@media screen and (max-width: 1100px) {
  body {
    margin: 0;
  }
  .main-card {
    width: 70%;
    margin: 200px auto 0 auto;
    font-size: larger;
  }
}
